*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: black 2px solid;
}

.container {
  background-color: #ddd;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav "
    "main main"
    "footer footer";
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
