:root {
  font-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 3em 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1em 0;
}

span {
  color: rgb(250, 135, 3);
  width: 50px;
  height: 50px;
  outline: 2px solid red;
}
.inline-block {
  text-align: center;
  display: inline-block;
}
