.box {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: red;
  border: green 10px solid;
  margin: 20px 50px;

  /* Top right bottom left */
  /*  margin: 20px 50px;  */
  /* top&&Bottom, left&&right */
  /* border-style: ;
  border-width: ;
  border-color: ; */
}
